# Composer
/vendor/
composer.lock

# IDE
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs, cache
*.log
*.cache
*.tmp

# Test and local files
.env
.env.local
.env.*.local
.phpunit.result.cache

# Server settings
/apache/
.nginx/

# Builders
/build/
/dist/
/output/
